<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMH3356XRY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BMH3356XRY');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wheel of Life</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="https://raw.githubusercontent.com/kensuke-b-sasaki/wheel-of-life/main/views/favicon.ico">
  <style>
    html, body {
      height: 100%;
      margin: 100;
      font-family: 'Noto Sans';
    }
    header {
      background-color: white;
    }
    footer {
      background-color: #f7fafc;
    }
    .min-h-screen {
      min-height: 100vh;
    }
    .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--slider-thumb-color, #67b7dc);
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--slider-thumb-color, #67b7dc);
    cursor: pointer;
  }
  



  .toggle-checkbox {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 9999px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .toggle-checkbox:checked {
    background-color: #7f8c8d;
  }

  .toggle-checkbox:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 9999px;
    transition: transform 0.2s ease;
  }

  .toggle-checkbox:checked:before {
    transform: translateX(20px);
  }
  
  </style>
</head>
<body class="bg-white flex flex-col items-center justify-start min-h-screen">

  <header class="header w-full text-white py-6 pb-3 pt-8 px-3">
    <div class="container mx-auto px-4 max-w-4xl">
      <h1 class="text-2xl font-bold text-gray-700">Wheel of Life / 人生の輪</h1>
    </div>
  </header>

  <div class="w-full max-w-4xl bg-white p-6 pb-24 flex-grow">
    
    <div class="flex items-center justify-between mt-2 pb-8">
  
      <div class="relative">
        <button type="button" id="colorButton" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6">
          <span class="flex items-center">
            <span id="colorSample" class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #67b7dc;"></span>
            <span id="colorName" class="ml-3 block truncate">PETER RIVER</span>
          </span>
          <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
            <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        <ul id="colorDropdown" class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" style="display: none;">
          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#67b7dc" data-name="PETER RIVER">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #67b7dc;"></span>
              <span class="ml-3 block truncate">PETER RIVER</span>
            </div>
          </li>
          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#7f8c8d" data-name="ASBESTOS">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #7f8c8d;"></span>
              <span class="ml-3 block truncate">ASBESTOS</span>
            </div>
          </li>
          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#1abc9c" data-name="TURQUOISE">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #1abc9c;"></span>
              <span class="ml-3 block truncate">TURQUOISE</span>
            </div>
          </li>

          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#34495e" data-name="WET ASPHALT">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #34495e;"></span>
              <span class="ml-3 block truncate">WET ASPHALT</span>
            </div>
          </li>

          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#e74c3c" data-name="ALIZARIN">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #e74c3c;"></span>
              <span class="ml-3 block truncate">ALIZARIN</span>
            </div>
          </li>

          <li class="text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" data-color="#f1c40f" data-name="SUN FLOWER">
            <div class="flex items-center">
              <span class="h-5 w-5 flex-shrink-0 rounded-full" style="background-color: #f1c40f;"></span>
              <span class="ml-3 block truncate">SUN FLOWER</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="flex items-center">
        <label for="toggleDate" class="mr-2 text-gray-700">日付を表示</label>
        <input type="checkbox" id="toggleDate" class="toggle-checkbox">
      </div>
    </div>

    <div id="chartdiv" class="aspect-square h-96 mb-8"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-6">
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-career" class="block text-gray-700">仕事・キャリア</label>
          <span id="value-career" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-career" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-money" class="block text-gray-700">お金・経済</label>
          <span id="value-money" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-money" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-health" class="block text-gray-700">健康</label>
          <span id="value-health" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-health" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-family" class="block text-gray-700">家族・パートナー</label>
          <span id="value-family" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-family" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-relationships" class="block text-gray-700">人間関係</label>
          <span id="value-relationships" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-relationships" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-learning" class="block text-gray-700">学び・自己啓発</label>
          <span id="value-learning" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-learning" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-leisure" class="block text-gray-700">遊び・余暇</label>
          <span id="value-leisure" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-leisure" min="0" max="10" value="5" class="slider">
      </div>
      <div class="slider-container">
        <div class="flex justify-between items-center">
          <label for="slider-physicalenvironment" class="block text-gray-700">物理的環境</label>
          <span id="value-physicalenvironment" class="font-bold text-gray-700">5</span>
        </div>
        <input type="range" id="slider-physicalenvironment" min="0" max="10" value="5" class="slider">
      </div>
    </div>

  </div>

  <footer class="w-full text-gray-500 py-8">
    <div class="container mx-auto px-4 max-w-4xl">
      <p class="mb-4 font-bold text-sm">Wheel of life / 人生の輪 とは</p>
      <p class="mb-2 text-xs">人生の輪とは、Success Motivation® Institute, Inc. Paul J. Meyerによってそのコンセプトが提唱された自己分析ツールです。</p>
      <p class="mb-2 text-xs">8つの軸に沿ってご自身の現在の状況を数値化し、今、この瞬間における人生のバランスを把握することにお役立てください。</p>
      <p class="mb-4 mt-4 font-bold text-sm">注意・免責事項</p>
      <p class="mb-4 text-xs">匿名化された閲覧者の属性分析を通じて本サービスの品質を向上させるために、Google LLCが提供するサービス「Google Analytics」を介してGoogle LLCに対して閲覧者が保持する情報（IPアドレス・閲覧URL・閲覧遷移元URL・閲覧日時・デバイス情報）を送信しています。また本サービスの情報によって閲覧者に生じたいかなる損害も、本サービスの開発者は一切の責任を負いません。</p>
      <p class="mb-4 font-bold text-sm">お問い合わせ</p>
      <p class="mb-4 text-xs">wheel.of.life.me@gmail.com</p>
      <p class="text-xs text-center">© 2024 Kensuke Sasaki</p>
    </div>
  </footer>

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/locales/ja_JP.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
  <script src="src/fonts/notosans-jp.js"></script>
  <script src="//cdn.amcharts.com/lib/5/themes/Responsive.js"></script>


  <script>
    am5.ready(function() {
      // Initialize the chart
      var root = am5.Root.new("chartdiv", {
        useSafeResolution: false
      });
  
      root.setThemes([
        am5themes_Animated.new(root),
        am5themes_Responsive.new(root)
      ]);
  
      // Create Radar Chart
      var chart = root.container.children.push(
        am5radar.RadarChart.new(root, {
          panX: false,
          panY: false,
          radius: am5.percent(100),
          startAngle: 0,
          endAngle: 360,
          paddingLeft: 30,
          paddingRight: 30,
          paddingTop: 30,
          paddingBottom: 30,
        })
      );
  
      // Add date label to the bottom right of the chart
      var date = new Date();
      var dateString = date.toISOString().split('T')[0];
  
      // Create X-axis
      var xRenderer = am5radar.AxisRendererCircular.new(root, {});
      xRenderer.labels.template.setAll({
        fontSize: 15,
      });
  
      var xAxis = chart.xAxes.push(
        am5xy.CategoryAxis.new(root, {
          maxDeviation: 0,
          categoryField: "category",
          renderer: xRenderer,
          tooltip: am5.Tooltip.new(root, {})
        })
      );
  
      // Create Y-axis
      var yAxis = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          max: 10,
          renderer: am5radar.AxisRendererRadial.new(root, {
            position: "absolute",
            axisAngle: 180,
          })
        })
      );
  
      yAxis.get("renderer").labels.template.setAll({
        fill: am5.color(0x95a5a6),
        fontSize: 12,
        paddingLeft: 3,
      });
  
      // Add grid lines to the Y-axis
      for (var i = 1; i <= 10; i++) {
        var rangeDataItem = yAxis.makeDataItem({
          value: i
        });
  
        yAxis.createAxisRange(rangeDataItem);
  
        var grid = rangeDataItem.get("grid");
        if (grid) {
          if (i === 10) {
            grid.setAll({
              stroke: am5.color(0x95a5a6),
              strokeOpacity: 0.5,
              strokeWidth: 2
            });
          } else {
            grid.setAll({
              stroke: am5.color(0x000000),
              strokeOpacity: 0.15,
              strokeDasharray: [9, 10],
              strokeWidth: 1
            });
          }
        }
      }
  
      // Data for the chart
      var data = [
        { category: '健康', value: 5 },
        { category: '家族・パートナー', value: 5 },
        { category: '人間関係', value: 5 },
        { category: '学び・自己啓発', value: 5 },
        { category: '遊び・余暇', value: 5 },
        { category: '物理的環境', value: 5 },
        { category: '仕事・キャリア', value: 5 },
        { category: 'お金・経済', value: 5 },
      ];
  
      // Create series
      var series = chart.series.push(
        am5radar.RadarColumnSeries.new(root, {
          name: "Life Wheel",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "value",
          categoryXField: "category"
        })
      );
  
      series.columns.template.setAll({
        tooltipText: "",
        cursorOverStyle: "pointer",
        fill: am5.color("#67b7dc"),
        fillOpacity: 0.5,
        strokeOpacity: 0,
        strokeWidth: 1,
        stroke: am5.color("#0056b3"),
        width: am5.percent(100),
        margin: 0
      });
  
      // Add bullets to the series
      series.bullets.push(function() {
        return am5.Bullet.new(root, {
          locationY: 0.9,
          sprite: am5.Label.new(root, {
            text: "{valueY}",
            fill: am5.color(0x535c68),
            centerY: am5.p50,
            centerX: am5.p50,
            populateText: true,
            fontSize: 24
          })
        });
      });
  
      // Function to update data
      function updateData(category, value) {
        for (let i = 0; i < data.length; i++) {
          if (data[i].category === category) {
            data[i].value = value;
            break;
          }
        }
        series.data.setAll(data);
      }
  
      // Add event listeners for sliders
      document.querySelectorAll('.slider').forEach(slider => {
        slider.addEventListener('input', function() {
          const categoryMap = {
            'slider-physicalenvironment': '物理的環境',
            'slider-career': '仕事・キャリア',
            'slider-money': 'お金・経済',
            'slider-health': '健康',
            'slider-family': '家族・パートナー',
            'slider-relationships': '人間関係',
            'slider-learning': '学び・自己啓発',
            'slider-leisure': '遊び・余暇'
          };
  
          const category = categoryMap[this.id];
          const value = parseInt(this.value);
          document.getElementById('value-' + this.id.split('-')[1]).innerText = value;
          updateData(category, value);
        });
      });
  
      // Function to update slider colors
      function updateSliderColors(color) {
        document.querySelectorAll('.slider').forEach(slider => {
          slider.style.setProperty('--slider-thumb-color', color);
        });
      }
  
      // Add event listeners for color dropdown
      document.getElementById('colorButton').addEventListener('click', function() {
        var colorDropdown = document.getElementById('colorDropdown');
        colorDropdown.style.display = colorDropdown.style.display === 'none' ? 'block' : 'none';
      });
  
      document.getElementById('colorDropdown').addEventListener('click', function(event) {
        if (event.target.closest('li')) {
          var selectedColor = event.target.closest('li').getAttribute('data-color');
          var selectedName = event.target.closest('li').getAttribute('data-name');
  
          var colorSample = document.getElementById('colorSample');
          var colorName = document.getElementById('colorName');
          colorSample.style.backgroundColor = selectedColor;
          colorName.textContent = selectedName;
          colorDropdown.style.display = 'none';
  
          series.columns.template.setAll({
            fill: am5.color(selectedColor)
          });
  
          updateSliderColors(selectedColor);
        }
      });
  
      document.addEventListener('click', function(event) {
        var colorButton = document.getElementById('colorButton');
        var colorDropdown = document.getElementById('colorDropdown');
        if (!colorButton.contains(event.target)) {
          colorDropdown.style.display = 'none';
        }
      });


      // Function to create date label
      function createDateLabel() {
        var date = new Date();
        var year = date.getFullYear();
        var month = String(date.getMonth() + 1).padStart(2, '0');
        var day = String(date.getDate()).padStart(2, '0');
        var formattedDate = `${year}/${month}/${day}`;

        var dateLabel = root.tooltipContainer.children.push(
          am5.Label.new(root, {
            text: formattedDate,
            fontSize: 20,
            fill: am5.color(0x394150),
            x: am5.p100,
            centerX: am5.p100,
            y: am5.p100,
            centerY: am5.p100,
            fontFamily: "Noto Sans",
            position: "absolute",
            marginRight: 100,
          })
        );
        return dateLabel;
    }


      var dateLabel;

      // Add event listener for date toggle
      document.getElementById('toggleDate').addEventListener('change', function(event) {
        if (event.target.checked) {
          dateLabel = createDateLabel();
        } else {
          if (dateLabel) {
            dateLabel.dispose();
          }
        }
      });
  
      // Set data
      series.data.setAll(data);
      xAxis.data.setAll(data);
      chart.appear(1000, 100);
  
      // Exporting settings with adjusted padding
      var exporting = am5plugins_exporting.Exporting.new(root, {
        menu: am5plugins_exporting.ExportingMenu.new(root, {}),
        filePrefix: `life_wheel_${dateString.replace(/-/g, '')}`,
        pngOptions: {
          quality: 1
        },
        jpgOptions: {
          disabled: true
        },
        pdfOptions: {
          disabled: true
        },
        printOptions: {
          disabled: true
        },
      });
    });

  </script>
</body>
</html>